* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: rgb(42, 43, 45);
display: flex;
flex-direction: column;
}



 #welcome-section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.2rem;
} 

.navbar {
display: flex;
align-items: flex-start;
justify-content: end;
background-color:rgb(190,49,68) ;
width: 100%;

}

#navbar {
    display: flex;
    align-items: center;
    gap: 2rem;
    height: 3rem;
    position: fixed;
    background-color:rgb(190,49,68) ;
}

a {
  text-decoration: none;
  color: white;
  gap: 1rem;
}

@media screen and (min-width: 480px) {
  body {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.title {
  color: #ffff;
  font-size: 3rem;
  
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
